{% extends 'base.html' %} {% block main %}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Editar Entidade</h1>
</div>
<div class="d-flex justify-content-center" style="margin-top: 50px">
  <form action="{{url_for('views.editar_entidade', id=id)}}" class="row g-3" style="margin-top: 50xp; width: 600px"
    method="post" id="myForm">
    <div class="col-9">
      <label class="form-label">Nome</label>
      <input name="nome" type="text" class="form-control" id="nome" placeholder="Nome" value="{{entidadeEditar.nome}}"
        required />
    </div>
    <div class="col-md-3">
      <label class="form-label">Nif</label>
      <input name="nif" type="text" class="form-control" id="nif" placeholder="Nif" value="{{entidadeEditar.nif}}"
        required />
    </div>
    <div class="col-6" style="margin-top: 5px">
      <label class="form-label">Morada</label>
      <input name="morada" type="text" class="form-control" id="morada" placeholder="Rua, Prédio, Andar"
        value="{{entidadeEditar.morada}}" required />
    </div>
    <div class="col-md-3" style="margin-top: 5px">
      <label class="form-label">Cód.Postal</label>
      <input name="cod_postal" type="text" class="form-control" id="inputCodPostal" placeholder="Cód. Postal"
        value="{{entidadeEditar.cod_postal}}" required />
    </div>
    <div class="col-md-3" style="margin-top: 5px">
      <label class="form-label">Localidade</label>
      <input name="localidade" type="text" class="form-control" id="localidade" placeholder="Localidade"
        value="{{localidade}}" required />
    </div>
    <div class="col-md-6" style="margin-top: 5px">
      <label class="form-label">Pessoa Responsável</label>
      <input name="pessoa_responsavel" type="text" class="form-control" id="pessoa_responsavel"
        placeholder="Pessoa Responsável" value="{{entidadeEditar.pessoa_responsavel}}" required />
    </div>
    <div class="col-md-4" style="margin-top: 5px">
      <label class="form-label">Cargo Responsável</label>
      <input name="cargo_responsavel" type="text" class="form-control" id="cargo_responsavel"
        placeholder="Cargo Responsável" value="{{entidadeEditar.cargo_pessoa_responsavel}}" required />
    </div>
    <div class="col-md-2" style="margin-top: 37px">
      <button type="submit" value="submit" class="btn btn-primary">Gravar</button>
    </div>
  </form>
</div>

<script>
  const nifInput = document.getElementById('nif');
  nifInput.addEventListener('input', function (event) {
    const input = event.target;
    const value = input.value;
    const newValue = value.replace(/\D/g, '');
    input.value = newValue;
  });

  const inputCodPostal = document.getElementById('inputCodPostal');
  inputCodPostal.addEventListener('input', function (event) {
    const input = event.target;
    const value = input.value;
    const cleanedValue = value.replace(/\D/g, '');
    let formattedValue = cleanedValue;
    if (cleanedValue.length > 4) {
      formattedValue = cleanedValue.slice(0, 4) + '-' +
        cleanedValue.slice(4);
    }
    input.value = formattedValue;
  });

  const LocalidadeInput = document.getElementById('localidade');
  LocalidadeInput.addEventListener('input', function (event) {
    const input = event.target;
    const value = input.value;
    const newValue = value.replace(/[^a-zA-Z\s]/g, '');
    input.value = newValue;
  });
</script>
<script>
  $(document).ready(function () {
    $('#myForm').submit(function (event) {
      event.preventDefault();
      var formData = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: '/editar_entidade/{{id}}',
        data: formData,
        success: function (response) {

          if (response[0] === 0) {
            window.location.href = "{{ url_for('views.entidades') }}";
          } else {
            Toastify({
              text: response[0],
              duration: 2500,
              position: "center",
            }).showToast();
          }
        },
        error: function (error) {
          console.log(error);
        }
      });
    });
  });
</script>
{%endblock%}