{% extends 'base.html' %}

{% block css %}
<style>
    .table#td1 {
        padding-left: 8px;
    }

    .table td {
        max-width: 30px;
    }

    #table-button {
        width: 25px;
        text-align: right;
    }

    #divbtn {
        margin-right: 300px;
    }

    @media (min-width: 992px) {
        .rounded-lg-3 {
            border-radius: 0.3rem;
        }

        #sapn {
            font-size: 12px;
            margin: 3px 0 0 1px;
            color: red;
        }
    }
</style>
{% endblock %}

{% block main %}
{% if turmasData | length == 0 %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Turmas</h1>
    <div class="d-flex justify-content-center">
        <p style="color: red; font-size: 17px">Não existem Turmas</p>
    </div>
    <a href="{{url_for('views.criar_turma')}}">
        <button type="button" class="btn btn-primary">Nova Turma</button>
    </a>
</div>
{% else %}
<div class="px-4 py-5 my-5 text-center" style="margin-top: 0">
    <h1 class="display-5 fw-bold">Turmas</h1>
</div>

<table class="table table-sm" align="center" style="width: 900px; max-width: 900px">
    <thead>
        <th style="float: left; border: none; margin-bottom: 20px">
            <a href="criar_turma">
                <button type="button" class="btn btn-primary">Nova Turma</button>
            </a>
        </th>
    </thead>
    <thead>
        <tr>
            <th scope="col">Descrição</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for row in turmasData %}
        <tr>
            <td id="td1" scope="col">
                Turma {{ row.descricao }}
            </td>
            <th id="table-button" class="table-button" scope="col">
                <a href="{{url_for('views.eliminar_turma', id=row.id)}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path
                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                    </svg>
                </a>
            </th>
            <th id="table-button" class="table-button" scope="col">
                <a href="{{url_for('views.editar_turma', id=row.id)}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}